<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h3>Edit your listing!</h3>
        <form method="POST" action="/listings/<%=listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-lable">Title</label>
                <input name="listing[title]" type="text" value="<%=listing.title %>" required placeholder="enter title"
                    class="form-control">
            </div>

            <div class=" mb-3">
                <label for="description" class="form-lable">Description</label>
                <textarea name="listing[description]" type="text"
                    placeholder="enter description"  required class="form-control"><%=listing.description %></textarea>
            </div>
        <div class=" mb-3">
            Original Image <br>
            <img src="<%=ogurl %>"  class="ogimg" alt="">
        </div>
            <div class="mb-3">
                <label for="image" class="form-lable">image</label>
            <input name="listing[image]" type="file"   class="form-control">
        </div>
<div class="row">
    <div class="mb-3 col-md-4">
        <label for="price" class="form-lable">Price</label>
            <input name="listing[price]" type="number"  required value="<%=listing.price %>" placeholder="enter price" class="form-control">
        </div>

        <div class="mb-3 col-md-8">
            <label for="country" class="form-lable">Country</label>
            <input name="listing[country]" type="text"  required value="<%=listing.country %>" placeholder="enter country" class="form-control">
        </div>
</div>
    
        <div class="mb-3">
            <label for="location" class="form-lable">Location</label>
            <input name="listing[location]"  required type="text" value="<%=listing.location %>" placeholder="enter location" class="form-control">
        </div>
            
            <button class="btn btn-dark add-btn mt-3">submit
                
            </button>
        </form>
    </div></div>
    <br><br>
    </body>